 
 /* 
 --slate-50: 210 40% 98%;
 --slate-100: 210 40% 96.1%;
 --slate-200: 214.3 31.8% 91.4%;
 --slate-300: 212.7 26.8% 83.9%;
 --slate-400: 215 20.2% 65.1%;
 --slate-500: 215.4 16.3% 46.9%;
 --slate-600: 215.3 19.3% 34.5%;
 --slate-700: 215.3 25% 26.7%;
 --slate-800: 217.2 32.6% 17.5%;
 --slate-900: 222.2 47.4% 11.2%;
 --slate-950: 228.6 84% 4.9%; 

  --sky-50: 204 100% 97.1%;
  --sky-100: 204 93.8% 93.7%;
  --sky-200: 200.6 94.4% 86.1%;
  --sky-300: 199.4 95.5% 73.9%;
  --sky-400: 198.4 93.2% 59.6%;
  --sky-500: 198.6 88.7% 48.4%;
  --sky-600: 200.4 98% 39.4%;
  --sky-700: 201.3 96.3% 32.2%;
  --sky-800: 201 90% 27.5%;
  --sky-900: 202 80.3% 23.9%;
  --sky-950: 204 80.2% 15.9%;
 */


:root {
  --font-sans: "Inter var";

  --background: 210 40% 98%; /* slate-50 */
  --foreground: 228.6 84% 4.9%; /* slate-950 */
  --card:  210 40% 96.1%; /* slate-100 */
  --card-foreground: 228.6 84% 4.9%; /* slate-950 */
  --popover: 214.3 31.8% 91.4%; /* slate-200 */
  --popover-foreground: 228.6 84% 4.9%; /* slate-950 */
  --primary: 200.4 98% 39.4%; /* sky-600  */
  --primary-foreground: 210 40% 98%; /* slate-50 */
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;

  --success: 132, 95.3%, 33.3%, 0.74;
  --success-foreground: 109 55% 28%;

  --info: 223 78% 42%;
  --info-foreground: 225 100% 50%;

  --attention: 45 90% 45%;
  --attention-foreground: 60 98.4% 48.8% 0.82;
}
@layer base {
  .dark {
    --background: #064e3b;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;

    --success: 109 55% 28%;
    --success-foreground: 109 55% 28%;

    --attention: 45, 90%, 45%, 0.8;
    --attention-foreground: 60 98.4% 48.8% 0.82;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .code-sample {
    @apply max-h-[650px] min-h-[350px] overflow-x-auto rounded-lg border bg-zinc-950 dark:bg-zinc-900;
  }

  .code-sample pre {
    @apply min-h-[350px];
  }

  .code-sample span {
    @apply bg-zinc-950;
  }
  input.error {
    @apply border-red-400;
  }

  label.error {
    @apply text-destructive;
  }

  input.error:focus-visible {
    @apply ring-destructive;
  }
}

input[type="range"] {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  min-width: 200px;
  height: 7px;
  background: #f4f4f5;
  border-radius: 5px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000;
  transition: background 0.3s ease-in-out;
}

/* input[type="range"]::-webkit-slider-thumb:hover {
  background: #a1a1aa;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #a1a1aa;
}

input[type="range"]::-ms-thumb:hover {
  background: #a1a1aa;
} */

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.st-accordion .st-accordion__icon:before {
  content: "▼";
  display: inline-block;
  margin-right: 5px;
  font-size: 80%;
  text-decoration: none;
  transform: rotate(-90deg);
}
.st-accordion .st-accordion__icon--opened:before {
  transform: rotate(0deg);
}

.st-accordion .st-accordion__content:not(.st-accordion__content--visible) {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s;
}
.st-accordion .st-accordion__content.st-accordion__content--visible {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition: all 0.2s;
}
